body {
    font-family: Verdana;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

header nav {
    margin-right: 5em;
    white-space: nowrap;
}

header>a {
    flex: 1;
    color: #335576;
    font-weight: bold;
    display: inline-block;
    margin-left: 5em;
    font-size: 1.25em;
}

header>a:hover {
    text-decoration: underline;
    text-decoration-color: #335576;
    text-decoration-thickness: 2.5px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin: auto 0.5em;
}

header nav ul li a {
    text-underline-offset: 0.5em;
    color: black;
}

header nav ul li a:hover {
    text-decoration: underline;
    text-decoration-color: #DB7A4E;
    text-decoration-thickness: 2.5px;
}

header nav ul li a.active {
    text-decoration: underline;
    text-decoration-color: #DB7A4E;
    text-decoration-thickness: 2.5px;
}

footer {
    background-color: #FEFAF5;
    color: #335576;
    padding: 2.5em 0 5em 0;
    margin-top: 5em;
    text-align: center;
}

footer ul {
    width: 80%;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

footer>ul>li ul {
    width: auto;
}

footer>ul>li ul li {
    margin-right: 2em;
}

footer ul li {
    display: inline-block;
    text-align: left;
}

footer>ul>li {
    flex: 1;
}

footer>ul>li:first-of-type {
    flex: 0.75;
}

footer h3 {
    margin-bottom: 2em;
    font-size: 1.5em;
}

footer label {
    color: #DB7A4E;
    display: block;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 0.5em;
}

footer a {
    display: inline-block;
    margin-right: 2.5em;
    color: #335576;
}

footer a:hover {
    text-decoration: underline;
}

footer img {
    max-width: 2em;
    max-height: 2em;
}